@import '../../../../../content/scss/global.scss';

:host {
  padding: $padding-main-content;

  .cities-impl {
    display: flex;
    flex-direction: column;

    .table-container {
      @include mat-elevation(3);

      .progress-container {
        background-color: white;
        min-height: 8px;
        flex-grow: 1;
      }

      mat-row {
        cursor: pointer;
      }
    }
  }
}
